.element {
  background-color: #e2e2e2;
  border: solid #e2e2e2;
  margin-bottom: 2%;
}

.explain {
  background-color: #ffe0e0;
}

.example {
  background-color: #e0e0ff;
}

.result {
  background-color: #efffe0;
}

h1 {
  text-decoration: underline;
  text-align: center;
}
